/*LP_StarUp*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic,cyrillic-ext);
body{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.bg-1{
	background: url(../img/bg-1.jpg) 100%;
}
.hello{
	margin: 0 auto;
	max-width: 1140px;
	padding-top: 36px;
	color: #fff;
	/*height: 730px;*/
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.header__text-logo{
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 0 7px;
}
.header__navigation{
	float: right;
	padding: 5px 0 0 0;
}
.header__navigation a{
	color: #fff;
	font-size: 14px;
	padding: 5px 15px;
}
.header__navigation a:last-child{
	margin-right: 0px;
}
.header__navigation a:hover{
	text-decoration: underline;
	text-shadow: 0 0 20px #fff;
}
.header__navigation a:focus{
	text-decoration: underline;
	text-shadow: 0 0 20px #fff;
}
.header:after{
	content: '';
	display: block;
	clear: both;
}
.wellcome{
	margin-top: 260px;
	text-align: center;
}
.wellcome__title{
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.welcome__subtitle{
	font-size: 20px;
	font-weight: 300;
}
.welcome__button{
	display: block;
	width: 145px;
	margin: 50px auto 260px;
	padding: 15px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
}
.welcome__button:hover{
	box-shadow: 0 0 20px #fff;
}
.welcome__button:active{
	box-shadow: 0 0 30px cyan;
}
.advantages, .about-us{
	margin: 0 auto;
	max-width: 1140px;
	color: #555555;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.advantages__title, .about-us__title{
	text-align: center;
	margin: 100px auto 29px;
	text-transform: uppercase;
	font-size: 20px;
}
.advantages__hr, .about-us__hr{
	width: 50px;
	margin-bottom: 28px;
}
.advantages__subtitle, .about-us__subtitle{
	text-align: center;
	font-family: Roboto Slab;
	font-size: 16px;
}
.here-advantages{
	text-align: center;
	margin-top: 70px;
}
/*Fonts AweSome start*/
.fa{
	color: #c0301c;
	border: 2px solid #dddddd;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	padding: 10px;
	text-align: center;
}
/* Старт. Немного кривая иконка, ровняем*/
.fa-life-ring:before {
	  position: relative;
	  top: 11px;
	}
.fa-font:before{
	position: relative;
	top: 8px;
}
.fa-code:before{
	position: relative;
	top:9px;
}
/* Конец. Немного кривая иконка, ровняем*/
.fa:hover{
	color: #fff;
	background-color: #c0301c;
}
/*Fonts AweSome end*/
.main-advantages{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-bottom: 98px;
}
.here-advantages{
	max-width: 345px;
}
.here-advantages__title{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin: 30px auto 20px;
}
.here-advantages__text{
	font-family: Roboto Slab;
	font-size: 14px;
}
.bg-2{
	background: #f8f8f8;
	border-top: 1px solid rgba(0, 0, 0, 0);
}
.about-us__articles{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.about-us__article{
	display: flex;
	font-family: Roboto Slab;
	font-size: 14px;
	line-height: 1.714;
	margin-top: 70px;
	max-width: 525px; /*555*/
}
.our-team{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-top: 70px;
}
.developer{
	text-align: center;
	position: relative;
}
.developer__photo{
	width: 263px;
	height: 250px;
	margin: 0 auto 20px;
}
.developer__photo_uddin{
	background: url(../img/md-khalil-uddin.png);
}
.developer__photo_miah{
	background: url(../img/rubel-miah.png);
}
.developer__photo_mia{
	background: url(../img/shamim-mia.png);
}
.developer__photo_doe{
	background: url(../img/jonh-doe.png);
}
.developer__photo_uddin:hover{
	background: url(../img/md-khalil-uddin-hover.png);
}
.developer__photo_miah:hover{
	background: url(../img/rubel-miah-hover.png);
}
.developer__photo_mia:hover{
	background: url(../img/shamim-mia-hover.png);
}
.developer__photo_doe:hover{
	background: url(../img/jonh-doe-hover.png);
}
.developer__name{
	font-size: 14px;
 	font-family: "Montserrat";
 	text-transform: uppercase;
 	line-height: 1.714;
}
.developer__position{
	font-size: 13px;
 	font-family: Roboto Slab;
 	line-height: 1.846;
}
.social-pack a{
	display: inline-block;
}
.social-pack{
	display: none;
	position: absolute;
	top: 195px;
	left: 70px;
}
.social-pack__icon{
	display: inline-block;
	width: 28px;
	height: 28px;
}
.social-pack__icon_fb{
	background: url(../img/social-icon.png) 0% 0%;
}
.social-pack__icon_fb:hover{
	background: url(../img/social-icon.png) 0% 100%;
}
.social-pack__icon_tw{
	background: url(../img/social-icon.png) 33% 0%;
}
.social-pack__icon_tw:hover{
	background: url(../img/social-icon.png) 33% 100%;
}
.social-pack__icon_g{
	background: url(../img/social-icon.png) 66% 0%;
}
.social-pack__icon_g:hover{
	background: url(../img/social-icon.png) 66% 100%;
}
.social-pack__icon_ln{
	background: url(../img/social-icon.png) 100% 0%;
}
.social-pack__icon_ln:hover{
	background: url(../img/social-icon.png) 100% 100%;
}
.developer:hover .social-pack{
	display: block;
}