/*LP_StarUp*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic,cyrillic-ext);
body{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.bg-1{
	background: url(../img/bg-1.jpg) 100%;
}
.hello{
	margin: 0 auto;
	max-width: 1140px;
	padding-top: 36px;
	color: #fff;
	/*height: 730px;*/
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.header__text-logo{
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 0 7px;
}
.header__navigation{
	float: right;
	padding: 5px 0 0 0;
}
.header__navigation a{
	color: #fff;
	font-size: 14px;
	padding: 5px 15px;
}
.header__navigation a:last-child{
	margin-right: 0px;
}
.header__navigation a:hover, .header__navigation a:focus{
	text-decoration: underline;
	text-shadow: 0 0 20px #fff;
}
.header__navigation a:focus{
	text-decoration: underline;
	text-shadow: 0 0 20px #fff;
}
.header:after{
	content: '';
	display: block;
	clear: both;
}
.wellcome{
	margin-top: 260px;
	text-align: center;
}
.wellcome__title{
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.welcome__subtitle{
	font-size: 20px;
	font-weight: 300;
}
.welcome__button{
	display: block;
	width: 145px;
	margin: 50px auto 260px;
	padding: 15px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
}
.welcome__button:hover, .welcome__button:focus{
	box-shadow: 0 0 20px #fff;
}
.welcome__button:active{
	box-shadow: 0 0 30px cyan;
}
.advantages, .about-us, .work-examples, .recent-posts{
	margin: 0 auto;
	max-width: 1140px;
	color: #555555;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.advantages__title, .about-us__title, .work-examples__title, .recent-posts__title, .contacts__title{
	text-align: center;
	margin: 100px auto 29px;
	text-transform: uppercase;
	font-size: 20px;
	color: #555555;
}
.line-separates{
	width: 50px;
	margin-bottom: 28px;
	border: 0;
	height: 2px;
	background: #555555;
}
.subtitle{
	text-align: center;
	font-family: Roboto Slab;
	font-size: 16px;
	color: #555555;
}
.here-advantages{
	text-align: center;
	margin-top: 70px;
}
/*Fonts AweSome start*/
.here-advantages .fa{
	color: #c0301c;
	border: 2px solid #dddddd;
	border-radius: 50%;
	height: 90px;
	width: 90px;
	padding: 10px;
	text-align: center;
}
/* Старт. Немного кривая иконка, ровняем*/
.fa-life-ring:before {
	  position: relative;
	  top: 11px;
	}
.fa-font:before{
	position: relative;
	top: 8px;
}
.fa-code:before{
	position: relative;
	top:9px;
}
/* Конец. Немного кривая иконка, ровняем*/
.here-advantages .fa:hover, .here-advantages .fa:focus{
	color: #fff;
	background-color: #c0301c;
}
/*Fonts AweSome end*/
.main-advantages{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-bottom: 98px;
}
.here-advantages{
	max-width: 345px;
}
.here-advantages__title{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin: 30px auto 20px;
}
.here-advantages__text{
	font-family: Roboto Slab;
	font-size: 14px;
}
.bg-2{
	background: #f8f8f8;
	border-top: 1px solid rgba(0, 0, 0, 0);
}
.about-us__articles{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.about-us__article{
	display: flex;
	font-family: Roboto Slab;
	font-size: 14px;
	line-height: 1.714;
	max-width: 525px; /*555*/
}
.our-team{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-top: 70px;
}
.developer{
	text-align: center;
	position: relative;
}
.developer__photo{
	width: 263px;
	height: 250px;
	margin: 0 auto 20px;
}
.developer__photo_uddin{
	background: url(../img/md-khalil-uddin.png);
}
.developer__photo_miah{
	background: url(../img/rubel-miah.png);
}
.developer__photo_mia{
	background: url(../img/shamim-mia.png);
}
.developer__photo_doe{
	background: url(../img/jonh-doe.png);
}
.developer__photo_uddin:hover, .developer__photo_uddin:focus{
	background: url(../img/md-khalil-uddin-hover.png);
}
.developer__photo_miah:hover, .developer__photo_miah:focus{
	background: url(../img/rubel-miah-hover.png);
}
.developer__photo_mia:hover, .developer__photo_mia:focus{
	background: url(../img/shamim-mia-hover.png);
}
.developer__photo_doe:hover, .developer__photo_doe:focus{
	background: url(../img/jonh-doe-hover.png);
}
.developer__name{
	font-size: 14px;
 	font-family: "Montserrat";
 	text-transform: uppercase;
 	line-height: 1.714;
}
.developer__position{
	font-size: 13px;
 	font-family: Roboto Slab;
 	line-height: 1.846;
}
.social-pack a{
	display: inline-block;
}
.social-pack{
	display: none;
	position: absolute;
	top: 195px;
	left: 70px;
}
.social-pack__icon{
	display: inline-block;
	width: 28px;
	height: 28px;
}
.social-pack__icon_fb{
	background: url(../img/social-icon.png) 0% 0%;
}
.social-pack__icon_fb:hover, .social-pack__icon_fb:focus{
	background: url(../img/social-icon.png) 0% 100%;
}
.social-pack__icon_tw{
	background: url(../img/social-icon.png) 33% 0%;
}
.social-pack__icon_tw:hover, .social-pack__icon_tw:focus{
	background: url(../img/social-icon.png) 33% 100%;
}
.social-pack__icon_g{
	background: url(../img/social-icon.png) 66% 0%;
}
.social-pack__icon_g:hover, .social-pack__icon_g:focus{
	background: url(../img/social-icon.png) 66% 100%;
}
.social-pack__icon_ln{
	background: url(../img/social-icon.png) 100% 0%;
}
.social-pack__icon_ln:hover, .social-pack__icon_ln:focus{
	background: url(../img/social-icon.png) 100% 100%;
}
.developer:hover .social-pack, .developer:focus .social-pack{
	display: block;
}
.here-work-examples{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-top: 55px;
}
.work-examples__filters{
	text-align: center;
	font-family: Roboto Slab;
	font-size: 16px;
}
.work-examples__filters a{
	color: #555555;
	padding: 0 15px;
}
.work-examples__filters a:hover, .work-examples__filters a:focus{
	text-shadow: 0 0 5px black;
}
.here-work-examples__example__details{
	display: none;
}
.here-work-examples__example{
	margin: 15px 0;
	width: 360px;
	height: 320px;
	position: relative;
}
.ex_1{
	background: url(../img/ex_1.jpg);
}
.ex_2{
	background: url(../img/ex_2.jpg);
}
.ex_3{
	background: url(../img/ex_3.jpg);
}
.ex_4{
	background: url(../img/ex_4.jpg);
}
.ex_5{
	background: url(../img/ex_5.jpg);
}
.ex_6{
	background: url(../img/ex_6.jpg);
}
.ex_7{
	background: url(../img/ex_7.jpg);
}
.ex_8{
	background: url(../img/ex_8.jpg);
}
.ex_9{
	background: url(../img/ex_9.jpg);
}
.ex_1:hover, .ex_1:focus{
	background: url(../img/ex_1_hover.jpg);
}
.ex_2:hover, .ex_2:focus{
	background: url(../img/ex_2_hover.jpg);
}
.ex_3:hover, .ex_3:focus{
	background: url(../img/ex_3_hover.jpg);
}
.ex_4:hover, .ex_4:focus{
	background: url(../img/ex_4_hover.jpg);
}
.ex_5:hover, .ex_5:focus{
	background: url(../img/ex_5_hover.jpg);
}
.ex_6:hover, .ex_6:focus{
	background: url(../img/ex_6_hover.jpg);
}
.ex_7:hover, .ex_7:focus{
	background: url(../img/ex_7_hover.jpg);
}
.ex_8:hover, .ex_8:focus{
	background: url(../img/ex_8_hover.jpg);
}
.ex_9:hover, .ex_9:focus{
	background: url(../img/ex_9_hover.jpg);
}
.here-work-examples__example:hover .here-work-examples__example__details, .here-work-examples__example:focus .here-work-examples__example__details{
	display: block;
	position: absolute;
	top: 105px;
	left: 126px;
	text-align: center;
}
.here-work-examples__example__link{
	display: inline-block;
	padding: 15px 20px;
	margin: 0 auto;
	background: #fff;
	color: #d16c5f;
	font-family: Roboto Slab;
	font-size: 14px;
	text-transform: uppercase;
}
.here-work-examples__example__link:hover, .here-work-examples__example__link:focus{
	box-shadow: 0 0 20px #fff;
}
.here-work-examples__example__subtitle{
	margin: 17px auto 24px;
	color: #fff;
	font-family: Roboto Slab;
	font-size: 12px;
}
.here-work-examples__example__title{
	color: #fff;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 18px;	
}
.here-work-examples__example:last-child{
	margin-bottom: 100px;
}
.call-to-action{
	background: url(../img/bg_call-to-action.jpg);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	border-top: 1px solid rgba(0, 0, 0, 0);
}
.call-to-action__title{
	margin-top: 90px;
	color: #fff;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 30px;
	line-height: 44px;
}
.call-to-action__link{
	display: block;
	width: 145px;
	margin: 55px auto 85px;
	padding: 15px 20px;
	font-size: 16px;
	text-transform: uppercase;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.call-to-action__link:hover, .call-to-action__link:focus{
	box-shadow: 0 0 20px #fff;
}
/* here-recent-posts */
/*Стили для max-width: 750px*/
.here-recent-posts{
	margin-top: 70px;
}
.here-recent-posts__image{
	max-width: 750px;
	padding: 0 10px;
	margin: 0 auto 20px;
}
.here-recent-posts__image img{
	width: 100%;
	height: auto;
}
.here-recent-post__date{
	float: left;
	border: 2px solid #777777;
	padding: 20px;
	margin: auto 10px;
	text-align: center;
	width: 36px;
}
.here-recent-post{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.here-recent-post__date span{
	font-weight: 700;
	text-transform: uppercase;
	color: #777777;
	text-align: center;
}
.here-recent-post__title{
	text-transform: uppercase;
	color: #c0301c;
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}
.here-recent-post__author{
	font-family: Roboto Slab;
	font-size: 13px;
	font-style: italic;
	text-align: center;
	margin-bottom: 5px;
}
.here-recent-post__author a{
	text-decoration: none;
	color: #c0301c;
}
.here-recent-post__author a:hover, .here-recent-post__author a:focus{
	text-shadow: 0 0 20px red;
}
.here-recent-post{
	font-family: Roboto Slab;
	font-size: 14px;
	line-height: 24px;
	padding: 0 10px 15px;
}
.here-recent-post__read-more-link{
	color: #c0301c;
	text-transform: uppercase;
	font-family: Roboto Slab;
	font-weight: 600;
	font-size: 13px;
	display: block;
	text-align: center;
}
.here-recent-post__read-more-link:hover, .here-recent-post__read-more-link:focus, .here-recent-post__read-more-link:active{
	text-shadow: 0 0 20px #c0301c;
}
/*Стили для min-width: 750px;*/
@media (min-width: 750px){
	.here-recent-posts__image{
		float: left;
		margin-right: 20px;
	}
	.here-recent-post__read-more-link{
		text-align: left;
	}
	.here-recent-post__date{
		margin-left: 0px;
	}
	.here-recent-posts:after{
		display: block;
		content: '';
		clear: both;
	}
}
/* Стили для min-width: 970px*/
@media (min-width: 970px){
	.here-recent-posts__image{
		width: 460px;
	}
	.here-recent-post__title, .here-recent-post__author{
		text-align: left;
	}
	.here-recent-post__date{
		margin-right: 30px;
	}
	.here-recent-post__title{
		font-family: Montserrat;
		padding-bottom: 10px;
	}
	.here-recent-post__author{
		padding-bottom: 10px;
	}
}
/* Секция our-clients */
.our-clients{
	background-color: #f8f8f8;
	padding-top: 100px;
}
.our-clients-logo{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	margin-bottom: 80px;
}
.our-clients-logo__container{
	margin-bottom: 20px; /*Чтобы было расстояние, когда лого в два и более ряда*/
}
/* Аккордион секции our-clients */
.our-clients-quotes{
	text-align: center;
}
.our-clients-quotes__quote__input{
	display: none;
}
.our-clients-quotes__switch{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: #dddddd;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 0 5px 100px;
}
.our-clients-quotes__quote__text{
	display: none;
}
.our-clients-quotes__quote__input:checked + .our-clients-quotes__quote__text{
	display: block;
}
.our-clients-quotes__switch:active{
	background-color: red;
}
.our-clients-quotes__quote__text{
	font-family: Roboto Slab;
	font-size: 18px;
	line-height: 30px;
	color: #555555;
}
.our-clients-quotes__quote__here-quote{
	font-style: italic;
}
.our-clients-quotes__quote__author{
	font-size: 20px;
	margin: 45px auto;
}
/*Для тех, кто больше 970px*/
@media (min-width: 970px){
	.our-clients{
		max-width: 900px;
		margin: 0 auto;
	}
}
/* Секция contacts*/
/*Сами контакты*/
.contacts{
	margin: 0 auto;
}
.here-contacts{
	text-align: center;
	margin-top: 40px;
}
.contacts-wrapper{
	margin: 0 auto;
}
.here-contacts__adress,
.here-contacts__phone,
.here-contacts__email{
	margin-bottom: 20px;
}
.fa + p{
	display: inline-block;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 30px;
}
.here-contacts .fa-2x{
	font-size: 1.5em !important;
	color: #555555;
}
.here-contacts__title{
	color: #555555;
}
.here-contacts__text{
	font-family: Roboto Slab;
	font-size: 12px;
	line-height: 20px;
	color: #555555;
}
.here-contacts p{
	margin-left: 30px;
}
.fa-2x + p{
	margin-left: 15px;
}
/*Форма контактов*/
.contacts__form{
	display: block;
	margin: 0 auto 100px;
	font-family: Roboto Slab;
	font-size: 12px;
	color: #555555;
}
.form-input, .form-input-area{
	display: block;
	width: 80%;
	height: 42px;
	margin: 5px auto;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #555555;
	outline: none;
}
/*Для IE*/
/*.contacts__form select::-ms-expand{
	display: none;
}
/* For Webkit based browsers Google Chrome, Apple Safari and latest Gecko browsers */
/*.contacts__form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80.5%;
    text-align: center;
    text-align-last: center;
}*/
.contacts__form input:focus{
	border: 1px solid #c0301c;
}
.form-input-area{
	height: 105px;
	text-transform: none;
}
.form-submit {
	max-width: 50%;
}
.contacts__form__text{
	text-align: center;
}
.contacts__form__text:before{
	content: '* ';
	color: #c0301c;
}
/*Больше 970px*/
@media (min-width: 970px){
	.here-contacts{
		float: left;
		max-width: 300px;
	}
	.contacts__wrapper{
		max-width: 970px;
		margin: 0 auto;
	}
	.contacts__form{
		margin-left: 300px;
		max-width: 670px;
		padding-top: 40px;
	}
	.form-input{
		height: 39px;
	}
	.form-input-area{
		height: 85px;
		overflow: auto;
		white-space: pre-wrap;
	}
}
/*Футер*/
.footer{
	padding: 100px 0;
	background: #c0301c;
}
.footer .line-separates{
	background: #fff;
	margin: 30px auto;
}
.footer .social{
	text-align: center;
}
.social .fa-twitter{
	display: inline-block;
	color: #fff;
	font-size: 1.5em !important;
	padding: 8px;
	border: 2px solid #fff;
	margin: 0 5px;
	border-radius: 50%;
}
.footer__copyright{
	font-family: Roboto Slab;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}